a {
    cursor: pointer;
}
.container ul li .active {
    background: rgb(63, 96, 240);
    border-radius: 4px;
    color: white;
}
.container ul li {
    padding: 0 2px 0 2px;
}
.container ul li a:hover {
    color: rgb(245, 245, 245);
}