<div class="bg-dark navbar-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md">

      <a class="navbar-brand text-pink-500" aria-current="page" routerLink="/"> {{title}} </a>

      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-controller="navController">


        <ul class="navbar-nav me-auto">

          <!-- <li class="nav-item">
            <a class="nav-link pe-auto" routerLink="/welcome" routerLinkActive="active" >Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link pe-auto" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pe-auto" routerLink="/test" routerLinkActive="active">Structural Directives</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link pe-auto" routerLink="/timer" routerLinkActive="active">Timer</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link pe-auto" routerLink="/book-ride" routerLinkActive="active">Book Ride</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
